<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portofolii Practică UPT - Portofolii</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header class="py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="h3">Portofolii Practică UPT</h1>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</header>

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light p-3 rounded shadow-sm">
            <li class="breadcrumb-item">
                <a th:href="@{'/cadru/' + ${cadru.id} + '/index'}" class="text-primary text-decoration-none">Acasă</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Portofoliile coordonate</li>
        </ol>
    </nav>

    <h2 class="mb-4 text-center">Portofoliile coordonate de <span th:text="${cadru.nume + ' ' + cadru.prenume}"></span></h2>
    <div class="card shadow-sm p-4 border-0 rounded-3">
        <div th:if="${#lists.isEmpty(portofolii)}">
            <h3 class="text-center text-muted">Nu există portofolii.</h3>
        </div>

        <div th:unless="${#lists.isEmpty(portofolii)}">
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center align-middle">
                    <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Acțiuni</th>
                        <th>Nume Student</th>
                        <th>Tutore</th>
                        <th>Profesor Coordonator</th>
                        <th>Locul Desfășurării</th>
                        <th>Durata Practicii</th>
                        <th>Orar</th>
                        <th>Tematică și Sarcini</th>
                        <th>Mod de Pregătire</th>
                        <th>Activități Planificate</th>
                        <th>Semnatura cadrului didactic</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="portofoliu : ${portofolii}">
                        <td th:text="${portofoliu.id}"></td>
                        <td>
                            <a class="btn btn-outline-warning btn-sm"
                               th:href="@{'/cadru/' + ${cadru.getId()} + '/portofoliu-view/' + ${portofoliu.id}}">Vizualizare</a>
                        </td>
                        <td th:text="${portofoliu.student.nume + ' ' + portofoliu.student.prenume}"></td>
                        <td>
                            <span th:if="${portofoliu.tutore != null && portofoliu.tutore.prenume != null}" th:text="${portofoliu.tutore.nume + ' ' + portofoliu.tutore.prenume}"></span>
                            <span th:if="${portofoliu.tutore.prenume == null}" th:text="${portofoliu.tutore.email}"></span>
                            <span th:if="${portofoliu.tutore == null}" class="text-muted">Tutore șters</span>
                        </td>
                        <td>
                            <span th:if="${portofoliu.cadruDidactic != null}" th:text="${portofoliu.cadruDidactic.nume + ' ' + portofoliu.cadruDidactic.prenume}"></span>
                            <span th:if="${portofoliu.cadruDidactic == null}" class="text-muted">Cadru șters</span>
                        </td>
                        <td th:text="${portofoliu.loculDesfasurarii}"></td>
                        <td th:text="${portofoliu.durataPracticii}"></td>
                        <td th:text="${portofoliu.orar}"></td>
                        <td th:text="${portofoliu.tematicaSiSarcini}"></td>
                        <td th:text="${portofoliu.modDePregatire}"></td>
                        <td th:text="${portofoliu.activitatiPlanificate}"></td>
                        <td>
                            <p th:if="${signCadruError == portofoliu.id}" class="text-danger">
                                Semnătura cadrului didactic nu a fost încărcată!
                            </p>

                            <form th:if="${!portofoliu.semnaturaCadruDidactic}"
                                  th:action="@{/cadruDidactic/sign/portofoliu/{id}(id=${portofoliu.id})}"
                                  method="post">
                                <input type="hidden" name="cid" th:value="${cadru.id}"/>
                                <button type="submit" class="btn btn-outline-success btn-sm">
                                    Semnează
                                </button>
                            </form>


                            <span th:if="${portofoliu.semnaturaCadruDidactic}">✔</span>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="text-center py-4 mt-5 bg-light border-top shadow-sm">
    <p class="mb-0 text-muted">&copy; 2025 Portofolii Practică UPT. Toate drepturile rezervate.</p>
</footer>

</body>
</html>
