<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Portofolii 1.0</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="">Acasa</a></li>
			<li class="breadcrumb-item active" aria-current="page">Portofolii</li>
		</ol>
	</nav>
	<div th:switch="${portofolii}">
		<h2 th:case="null">Nu este nicio portofoliu in baza de date!</h2>
		<div th:case="*">
			<h2>Portofolii</h2>
			<table class="table table-small">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Student</th>
					<th scope="col">Locul desfasurarii</th>
					<th scope="col">Durata Practicii</th>
					<th scope="col">Data inceput</th>
					<th scope="col">Data sfarsit</th>
					<th scope="col">Orar</th>
					<th scope="col">Locatii Extra</th>
					<th scope="col">Competente Necesare</th>
					<th scope="col">Competente Dobandite</th>
					<th scope="col">Mod de Pregatire</th>
					<th scope="col">Activitati Planificate</th>
					<th scope="col">Tematica si Sarcini</th>
					<th scope="col">Observatii</th>
					<th scope="col">Tutore Cadru Didactic</th>
					<th scope="col">Tutore Practica</th>
					<th scope="col">Data semnarii</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="portofoliu : ${portofolii}">
					<td scope="col" th:text="${portofoliu.id}"></td>
					<td><a th:href="@{/portofoliu-edit/{id}(id=${portofoliu.id})}">Editeaza</a></td>
					<td><a th:href="@{/portofoliu-delete/{id}(id=${portofoliu.id})}">Sterge</a></td>
					<td th:text="${portofoliu.student.nume}"></td>
					<td th:text="${portofoliu.loculDesfasurarii}"></td>
					<td th:text="${portofoliu.durataPracticii}"></td>
					<td th:text="${portofoliu.dataInceput}"></td>
					<td th:text="${portofoliu.dataSfarsit}"></td>
					<td th:text="${portofoliu.orar}"></td>
					<td th:text="${portofoliu.locatiiExtra}"></td>
					<td th:text="${portofoliu.competenteNecesare}"></td>
					<td th:text="${portofoliu.competenteDobandite}"></td>
					<td th:text="${portofoliu.modDePregatire}"></td>
					<td th:text="${portofoliu.activitatiPlanificate}"></td>
					<td th:text="${portofoliu.tematicaSiSarcini}"></td>
					<td th:text="${portofoliu.observatii}"></td>
					<td th:text="${portofoliu.cadruDidactic}"></td>
					<td th:text="${portofoliu.tutorePractica}"></td>
					<td th:text="${portofoliu.dataSemnarii}"></td>
				</tr>
				</tbody>
			</table>
		</div>
		<p><a href="/portofoliu-create">Adauga o portofoliu nou</a></p>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
